{% load static %}
{%include 'layouts/menu.html'%}

<nav class="navbar navbar-expand-lg sticky-top py-3 shadow-sm mb-5" style="background-color: rgb(39, 150, 248) ;">
      <div class="container">
        <a href="{% url 'inicio'%}" class="navbar-brand">
          <!-- Logo Image -->
          <img href="#" src="{% static 'img/Logo.png' %}" alt="logo" width="100" height="50" alt=""
            class="d-inline-block align-middle mr-2">
        </a>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fa fa-bars"></i>
        </label>
        <ul>
          <li><a class="" href="{% url 'inicio'%}">Inicio</a></li>
        </ul>
      </div>
    </nav>
    
    <body>
    <div class="position-absolute top-50 start-50 translate-middle">
            <center>
              <h3 class="indigo-text">Calificacion Parqueadero</h3>
              <br></br>
            </center>
            <div class="container-fluid">
              <div class="row">
      
                <form action="" class="col s12 " method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="input-field col col-sm-12">
                    <center>
                      <h5 class="indigo-text">Estrellas</h5>
                    </center>
                      <input type="range" class="form-range " min="0" max="5" step="0.5" id="customRange3" name="estrellas">
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col col-sm-12">
                      <div class="form-floating">
                          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 200px" name="comentarios" class="validate" required></textarea>
                          <label for="floatingTextarea2">Comentarios</label>
                        </div>
                    </div>
                  <div class="row">
                    <div class="input-field col col-sm-12 ">
                    </div>
                    <center>
                    <p><em>Si deseasalguna sugerencia de nuestra pagina web EASYPARKING</em></p>
                    <p><em>nos puesdes contactar al correo</em></p>
                    <p><em>contactame.easypark@gmail.com</em></p>
                    </center>
                  </div>
                  <div class="row">
                    <div class="input-field col col-sm-2 mx-auto d-block">
                      <button type="submit" class='col btn btn-small waves-effect indigo text-white '>Calificar</button>
                    </div>
                  {% if messages %}
                  {% for mensaje in messages %}
                   <h2  style="color:rgb(80, 142, 224); text-align: center; box-shadow: inset;">{{mensaje}}</h2>
                  {% endfor %}
                  {% endif %}
                  </div>
                </form>
              </div>
            </div>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
            <script type="text/javascript"
              src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
          </div>
          </div>
        </section>
    
    
        <script src='{% static "bootstrap/validations_form.js" %}'></script> 
    </body>
</html>
