{%extends 'layouts/menu.html'%}
{% load static %}

{%block title%}Calificacion - EasyParking{%endblock%}

{% block items-nav %}
<li><a class="" href="{% url 'inicio'%}">Inicio</a></li>
{%endblock%}

{%block content%}
<div class="container" style="padding: 20px;">
  <center>
    <h3 class="indigo-text">Editar calificacion</h3>
    <br></br>
  </center>
  <div class="container">
    <div class="row">

      <form action="" class="col s12 " method="post">
        {% csrf_token %}

        
        <div class="row">
          <div class="input-field col col-sm-12">
            <center>
              <h5 class="indigo-text">Estrellas</h5>
            </center>
            <input type="range" value="{{opinion.cantidadEstrellas}}" class="form-range " min="0" max="5" step="1" id="customRange3" name="estrellas">
          </div>
        </div>
        <div class="row">
          <div class="input-field col col-sm-12">
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height: 200px" name="comentarios" class="validate" required>{{opinion.comentarios}}</textarea>
              <label for="floatingTextarea2">Comentarios</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field d-flex col-2 mx-auto">
            <button type="submit" class='col btn btn-small waves-effect indigo text-white'>Calificar</button>
          </div>
          {% if response %}
          <h2 style="color:rgb(80, 142, 224); text-align: center; box-shadow: inset;">{{response}}</h2>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
{%endblock%}
{%block scripts%}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src='{% static "bootstrap/validations_form.js" %}'></script>
{%endblock%}