{%extends 'layouts/menu.html'%}
{% load static %}

{% block items-nav %}
<li><a class="" href="{% url 'inicio'%}">Inicio</a></li>
<li><a href="{% url 'login'%}">Ingresar </a></li>
<li><a href="{% url 'registrousuario'%}">Registrate </a></li>
{%endblock%}

{%block content%}
<div class="container">
  <center>
    <br>
    <h3 class="indigo-text">Registrarse</h3>
    <div class="section"></div>

    <div class="container">
      <div class="z-depth-1 grey lighten-4 row"
        style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

        <form onsubmit="validarCampos()" action="" class="col s12 needs-validation" method="post" id="formUsuario"
          novalidate>
          {% csrf_token %}
          <!--ingresar_nombre-->
          <div class="row">
            <div class="input-field col s6">
              <label for="first_name">Ingresa tu(s) Nombre(s)</label>
              <input id="first_name" type="text" class="form-control" name="nombre_usu" required maxlength="25">
              <div class="invalid-feedback">
                Falta este dato!!
              </div>
            </div>
            <!--ingresa_apellido-->
            <div class="input-field col s6">
              <label for="last_name">Ingresa tu(s) Apellido(s)</label>
              <input id="last_name" type="text" class="validate" name="apellido" required maxlength="25">
              <div class="invalid-feedback">
                Falta este dato!!
              </div>
            </div>
          </div>
          <!--ingresar_email-->
          <div class="row">
            <div class="input-field col s12">
              <label for="email">Digite su correo electrónico</label>
              <input class="validate" id="email" type="email" name="email_usu" required maxlength="25">
              <div class="invalid-feedback">
                Falta este dato!!
              </div>
            </div>
          </div>
          <!--ingresar_cedula-->
          <div class="row">
            <div class="input-field col s10">
              <label for="disabled">Ingrese su Cedula </label>
              <input id="usuario" type="number" class="validate" name="cedula" required maxlength="25">
              <div class="invalid-feedback">
                Falta este dato!!
              </div>
            </div>
            <!--ingresar_email-->
            <div class="input-field col s12">
              <label for="email">Digite su telefono</label>
              <input class="validate" id="tel_usu" type="number" name="tel_usu" required maxlength="25">
              <div class="invalid-feedback">
                Falta este dato!!
              </div>
            </div>
          </div>
          <!--ingresar_contraseña-->
          <div class="row">
            <div class="input-field col s6">
              <label for="password">Ingrese su Contraseña</label>
              <input id="password" type="password" class="validate" required name="contrasenna">
              <div class="invalid-feedback">
                Falta este dato!!
              </div>
            </div>
            <div class="input-field col s6">
              <label for="password2">Repita su Contraseña</label>
              <input id="password2" type="password" class="validate" name="">
            </div>
          </div>

          <!--boton_registro-->
          <div class="row">
            <button type="submit" class='col btn btn-small waves-effect indigo text-white'>Registrarse</button>
          </div>
          <div class="row">
            <a class='blue-text text-center' href="{% url 'login'%}">Ya tienes una cuenta? Ingresa</a>

            <!--ir_a_index-->
            <a class='blue-text text-center' href="{% url 'inicio'%}">Regresar</a>
          </div>
        </form>
      </div>
    </div>
  </center>


</div>
</div>
{% if messages %}
{% for mensaje in messages %}
<h4 style="color: red;">{{mensaje}}</h4>
{% endfor %}
{% endif %}
</section>
{%endblock%}
{%block scripts%}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script>
  function validarCampos() {
    var pass1 = document.getElementById("password").value;
    var pass2 = document.getElementById("password2").value;

    if (pass1 === pass2) {
      // document.getElementById("formUsuario").submit();
      return true
    } else {
      event.preventDefault()
      alert("Faltan campos o las contraseñas no coinciden");
      return false
    }
  }

</script>
<script src='{% static "js/validations_form.js" %}'></script>
{%endblock%}